<h1>Add a new photo</h1>
<form action="/photos/create_photo">
  <div>
    <label for="url">
      Image URL
    </label>
      <input id="url" type="text" name="source">
  </div>

  <div>
    <label for="caption">
      Caption
    </label>
      <input id="caption" type="text" name="caption">
  </div>

  <button>Create Photo</button>
</form>
